html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



html{
  height: 100%;
  position: relative;
  overflow-y:scroll;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

pre{
  overflow: scroll;
  background: #000;
  color:#fff;
  padding:20px;
}

#root{
    background: #000 url(./imgs/bg-main.jpg) center top no-repeat;
  background-size:100% auto;
  height: 100%;
  overflow: hidden;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App{
  max-width: 960px;
  margin:0 auto;
  padding:20px;
  min-height: 100vh;
}




/*
Header
------------------------------------*/
.main-header{
  padding:20px;
  background: rgba(0,0,0,.75);
  text-align: center;
  border-radius: 15px;
}

  .main-header h1{
    color:#a68d6d;
  }

  .main-header input[type='submit']{
    background: #a68d6d;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    border-radius: 0;
    border: none;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    vertical-align: top;
    padding: 10px 20px;
    transition: all .25s;
  }

  .main-header input[type='text']{
    height: 40px;
    line-height: 40px;
    padding:0 15px;
    width: 100%;

  }

/*
Body
------------------------------------*/
.postsList > ul{
  padding:0;
  margin:0;
}
  .postsList > ul > li{
    list-style: none;
  }



.post{
  background: #fff;
  padding:20px;
  margin:20px auto;
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,.75);
  border: 2px solid transparent;
  transition:all .25s;
}
  .post:hover,
  .post:focus{
    box-shadow: none;
    border-color:#a68d6d;
  }

  .post h1{
    color:#a68d6d;
  }
  .post p,
  .post li{
    line-height: 1.5em;
  }



/*
Thumbnail
------------------------------------*/
@keyframes moveLeft {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity:1;
    }
}
.post-excerpt{
   animation:moveLeft 1s;
   cursor: pointer;
   float:left;
   margin-right:2.5%;
}

@media all and (min-width: 768px){
  .post-excerpt{
    width:45%;
    margin-left:2.5%;
  }
}
  
.slide-enter{
  transform: translateY(100%);
  transition:all .5s ease-out;
  opacity:0;
}

/* end enter state */

.slide-enter.slide-enter-active{
  transform: translateY(0%);
  opacity:1;
}


/* start leave state */
.slide-leave{
  transition:all .5s ease-out;
}

/* end leave state */
.slide-leave.slide-leave-active{
  opacity:0;
}


/*
Post
------------------------------------*/
@keyframes moveRight {
    from {
      transform: translateX(100%);
      opacity: 0.5;
    }
    to {
      transform: translateX(0);
      opacity:1;
    }
}
.post-content{
  animation:moveRight 1s;
}

/*
Empty List
---------------------------------------*/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity:1;
    }
}
.emptyList{
  animation: fadeIn 1s;
}
